#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

#define PROG 0
#define NORM 1
#define FN 2
#define MOD 3

#define MM_F &mm_dllr_hash
#define MM_1 &mm_n1_plus
#define MM_2 &mm_n2_lbkt
#define MM_3 &mm_n3_lbrc
#define MM_4 &mm_n4_lpar
#define MM_5 &mm_n5_amps
#define MM_6 &mm_n6_equal
#define MM_7 &mm_n7_rpar
#define MM_8 &mm_n8_rbrc
#define MM_9 &mm_n9_rbkt
#define MM_0 &mm_n0_star
#define MM_L &mm_excl_prcnt

#define MM_AC &mm_at_caret
/ {

    behaviors {
      #include "macros.dtsi"
      #include "behaviors.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    programming {
      bindings = <
        MM_F         MM_1      MM_2     MM_3     MM_4       MM_5   &tog NORM                                                                           &mo MOD      MM_6   MM_7      MM_8       MM_9       MM_0     MM_L 
        &kp TAB      &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                                               &none        &kp Y  &kp U     &kp I      &kp O      &kp P    &kp MINUS
        &kp ESC      &kp A     &kp S    &kp D    &kp F      &kp G        &kp CAPS  &kp LEFT_ALT  &kp HOME   &none   &none  &kp PG_UP  &kp RIGHT_ALT       &kp CAPS        &kp H  &kp J     &kp K      &kp L      &kp SEMI &kp SQT
        &kp LSHFT    &kp Z     &kp X    &kp C    &kp V      &kp B        &none     &none     &kp LEFT_COMMAND &none &none &kp RIGHT_COMMAND &none      &none        &kp N  &kp M     &kp COMMA  &kp DOT    &kp FSLH &kp RSHFT
        &mo FN       &kp GRAVE &mo FN &kp LEFT &kp RIGHT               &kp BKSP  &kp LSHFT   &kp LCTRL              &kp RCTRL &kp ENTER &kp SPACE                          &kp UP    &kp DOWN   &kp BSLH   MM_AC    &mo FN
        >;
    };

    normal_layer {
      bindings = <
 &kp EQUAL     &kp N1    &kp N2    &kp N3     &kp N4  &kp N5              &tog NORM                                                                                  &mo MOD  &kp N6  &kp N7     &kp N8    &kp N9    &kp N0  &kp MINUS
   &kp TAB      &kp Q     &kp W     &kp E      &kp R   &kp T               &none                                                                                 &none   &kp Y   &kp U      &kp I     &kp O     &kp P   &kp BSLH
   &kp ESC      &kp A     &kp S     &kp D      &kp F   &kp G               &none  &kp LCTRL          &kp LALT   &none   &none      &kp RIGHT_ALT  &kp RCTRL      &none   &kp H   &kp J      &kp K     &kp L  &kp SEMI    &kp SQT
 &kp LSHFT      &kp Z     &kp X     &kp C      &kp V   &kp B               &none      &none          &kp HOME   &none   &none          &kp PG_UP      &none      &none   &kp N   &kp M  &kp COMMA   &kp DOT  &kp FSLH  &kp RSHFT
     &mo FN  &kp GRAVE  &mo FN  &kp LEFT  &kp RIGHT                    &kp BSPC    &kp DEL  &kp LEFT_COMMAND                  &kp RIGHT_COMMAND  &kp ENTER  &kp SPACE          &kp UP   &kp DOWN  &kp LBKT  &kp RBKT      &mo FN
            >;
        };

        layer_fn {
            bindings = <
 &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6            &tog NORM                                               &mo MOD &kp F7  &kp F8  &kp F9   &kp F10  &kp F11  &kp F12
 &trans  &trans  &trans  &trans  &trans  &trans             &none                                                   &none  &trans  &kp N1  &kp N2   &kp N3   &kp N4   &trans
 &trans  &trans  &trans  &kp FSLH  &kp STAR &kp KP_LPAR             &none  &trans  &trans   &none   &none  &trans  &trans   &none  &kp KP_RPAR  &kp N5  &kp N6   &kp N7   &kp N8   &trans
 &trans  &trans  &trans  &kp MINUS &kp PLUS &trans             &none   &none  &trans   &none   &none  &trans   &none   &none  &trans  &kp N0  &trans   &trans   &N9   &trans
 &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans                     &trans  &trans  &trans  &trans  &trans   &trans   &trans   &trans
            >;
        };

        layer_mod {
            bindings = <
  &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                             &none                                                                              &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &none
  &none         &none         &none         &none         &none         &none                       &bootloader                                                                         &bootloader         &none         &none         &none         &none         &none   &none
  &none         &none         &none         &none         &none         &none            &rgb_ug RGB_MEFS_CMD 5  &bt BT_CLR   &none   &none   &none  &bt BT_CLR  &bt BT_CLR  &rgb_ug RGB_MEFS_CMD 5         &none         &none         &none         &none         &none   &none
  &none         &none         &none         &none         &none         &none                             &none       &none   &none   &none   &none       &none       &none                   &none         &none         &none         &none         &none         &none   &none
  &none         &none         &none    &bl BL_INC    &bl BL_DEC                                 &rgb_ug RGB_TOG  &bl BL_TOG   &none                       &none  &bl BL_TOG         &rgb_ug RGB_TOG                  &bl BL_INC    &bl BL_DEC         &none         &none   &none
            >;
        };
  };
};
